

.home{
    margin: 20%;
    position: relative;
    background-color:#e8e6d9;
    border-radius: 20px;
    text-align: center;
}
p{
    // padding: 50px;
    // margin-top: 10px;
    // margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-style:normal;
    color: #d3ab9e;
    font-weight: bold;
}

html{
    background-image: url('../Img/wallpaper4.jpg');
    background-repeat: no-repeat;
    background-size: cover;}